article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
* {margin: 0; padding: 0;}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size:22px;
	font-family: 'Fjalla One', sans-serif;
	text-transform:uppercase;
}

img {
	max-width: 100%;
/*	display: block;*/
	margin: 0 auto;
}

header {
/*	width:37%;*/
/*	background-color: #81ccee;*/
	padding: 5%;
	padding-bottom:0%;
	margin-bottom:-2%;
/*	margin-bottom:5%;*/
	/*border-bottom: 5px solid black;*/
/*	border:5px solid black;
	border-radius: 50% 50%;*/
}

main {
	margin-bottom:10%;
	margin-top:2%;
}

.logo {
	margin:0 auto;
	display:block;
}

p.description {
    font-size: 25px;
    letter-spacing: 15px;
}

form {
	margin-top:5%;
}

.flexContainer {
	display: flex;
	justify-content: center;
	width:100%;
}

.rightSide {
	width:40%;
}

.leftSide {
	width:60%;
}

header img {
/*	margin-left:13%;*/
}

.descript {
	font-weight: 900;
    text-align: center;
    color: black;
    max-width: 80%;
    margin: 0 auto;
    font-size: 30px;
    letter-spacing: 5px;
}

.sadLevel{
	margin-top:7%;
}

.resultImg {
	margin-top:5%;
}

.qTwo {
	text-align: center;
    margin-bottom: 11%;
    font-size:50px;
}

label p {
	border-radius: 4px;
	border: 5px solid black;
	padding: 8px 20px;
	text-align: center;
	margin-right:10%;
	margin-top:3%;
	letter-spacing:3px;
	/*width:25%;*/
}

.moviePoster {
	display:block;
	margin:0 auto;
	border:10px solid #ff8080;
	margin-top:2%;
}
/*label p:hover, label p:focus {
	cursor: pointer;
	background-color:#b9e8be;
	border-color: : #b9e8be;
}*/

.clicked {
	background-color: #81ccee;
	border-color: #81ccee;
}

.rightSide img {
	border-radius: 58% 84% 75% 70%;
	margin-left:40%;
}


input[type=radio] {
	display:none;
}

.submitContainer input {
	padding: 1% 3%;
	border-radius: 4px;
	background: #81ccee;
	border: 5px solid black;
	margin: 0 auto 5% auto;
	display:block;
}

fieldset {
	border:0;
	margin-bottom: 3%;
}

.choice {
	text-align:center;
	font-size: 45px;
    letter-spacing: 5px;
    font-weight: 900;
    margin-top:5%;
}

.genreDef {
	display:block;
	margin:0 auto;
	margin-top:5%;
}

footer p {
	font-size:15px;
}

.reset {
	padding: 1% 3%;
	border-radius: 4px;
	background: #81ccee;
	border: 5px solid black;
	margin: 10% auto 5% auto;
	display:block;
}


@media (max-width: 1150px) {
	.flexContainer {
		flex-wrap:wrap;
		justify-content: center;

	}

	img.description {
		margin-left:10%;
	}

	p.descript {
		letter-spacing:5px;
	}

}

@media (max-width: 1080px) {
	p.qTwo{
		font-size:40px;
	}

/*	.flexContainer p{
		font-size:17px;
	}*/

}

@media (max-width:930px){
	label p{
		font-size: 17px;
	}

	p.qTwo{
		font-size:35px;
	}
}

@media (max-width: 840px) {
	.choice {
		font-size:30px;
	}


}

@media (max-width: 800px) {
	p.descript {
		font-size:19px;
	}

	p.qTwo {
    font-size: 25px;
	}

	label.p {
		font-size:15px;
	}

	.moviePoster {
		max-width:80%;
	}


}

@media (max-width: 620px) {

	.rightSide {
		display:none;
	}

	.flexContainer {
		width:104%;
	}

	.genreDef{
		width:75%;
	}

}


@media (max-width: 510px) {
	p.descript {
		font-size:16px;
	}

	label.p {
		font-size: 15px;
	}
	
	p.qTwo {
	    font-size: 28px;
	}

}
